@{
	ViewData["Title"] = "Giỏ hàng";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- khu vực breadcrumb -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Tươi và Hữu cơ</p>
					<h1>Giỏ Hàng</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- kết thúc khu vực breadcrumb -->
<div id="listdata"></div>
<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/1.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/2.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/3.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/4.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
@section scripts {
    <script src="~/AppJs/GioHang.js"></script>
	<script>
		loaddata();
	</script>
}
