@{
	ViewData["Title"] = "Cửa hàng";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var lstpro = ViewData["lstpro"] as List<SanPham>;
    var lstdmsp = ViewData["lstdmsp"] as List<DanhMucSanPham>;
}
<style>
	.img-pro {
		width: 261px;
		height: 261px;
		object-fit: contain;
	}
</style>
<!-- khu vực breadcrumb -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Tươi và Hữu cơ</p>
					<h1>Cửa Hàng</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- kết thúc khu vực breadcrumb -->
<!-- sản phẩm -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div id="listdata">

		</div>
		
	</div>
</div>
<!-- kết thúc sản phẩm -->
<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/1.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/2.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/3.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/4.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="./assets/img/company-logos/5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
@section scripts {
    <script src="~/AppJs/CuaHang.js"> </script>
}